---
import '../styles/main.css'

interface Props {
	class?: string
	title?: string
}

const { class: className, title } = Astro.props

const fontUrl =
	'https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Russo+One&display=swap'
---

<!doctype html>
<html lang='en' transition:name='root' transition:animate='none'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />

		<link rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='shortcut icon' href='/favicon.ico' />
		<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
		<meta name='apple-mobile-web-app-title' content='N•Q' />
		<link rel='manifest' href='/site.webmanifest' />

		<meta name='generator' content={Astro.generator} />

		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link rel='preload' as='style' href={fontUrl} />
		<link rel='stylesheet' href={fontUrl} media='print' onload="this.media='all'" />
		<noscript>
			<link rel='stylesheet' href={fontUrl} />
		</noscript>

		<title>{`${title ? `${title} | ` : ''}NUTRI•QUEST`}</title>
	</head>

	<body class:list={['', className]}>
		<slot />
	</body>
</html>
